* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #1b7474, #0a1224);
  justify-content: center;
  overflow: hidden;
}
.container {
  top: 20px;
  left: 15px;
  height: 70px;
  width: 70px;
  background: #fff;
  border-radius: 50px;
  position: fixed;
  transition: 0.4s ease;
  box-sizing: initial;
  flex: 1 1 0;
  max-width: 300px;
  margin-top: 100px;
}
.container.active {
  height: 420px;
}
.toggleBox {
  position: relative;
  display: block;
  height: 70px;
  width: 70px;

  border-radius: 50px;
}
.icon {
  position: absolute;
  width: 35px;
  height: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #161d2c;
  border-radius: 50px;
  transition: 0.5s;
}
.toggleBox.active .icon {
  width: 0;
}
.icon::before,
.icon::after {
  position: absolute;
  content: '';
  width: 35px;
  height: 4px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #161d2c;
  border-radius: 50px;
  transition: 0.3s;
}
.icon::before {
  top: 12px;
}
.icon::after {
  bottom: 8px;
}
.toggleBox.active .icon::before {
  width: 40px;
  transform-origin: right;
  transform: translate(-25px, 4px) rotate(45deg);
  transition-delay: 0.125s;
}
.toggleBox.active .icon::after {
  width: 40px;
  transform-origin: right;
  transform: translate(-25px, -4px) rotate(-45deg);
  transition-delay: 0.25s;
}

.navItems {
  width: 100%;
  visibility: hidden;
}
.container.active .navItems {
  visibility: visible;
}
li {
  list-style: none;
}
li a {
  text-transform: uppercase;
  color: #161d2c;
}
li a i {
  position: relative;
  display: block;
  font-size: 18px;
  transform: scale(0);
  padding: 25px 0;
  width: 100%;
  text-align: center;
}
li a i::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 0;
  width: 0px;
  height: 50%;
  background-color: #11b7b7;
  border-radius: 8px 0 0 8px;
  transform: translateY(-50%);
}
li:hover a i::after {
  width: 8px;
  transition: 0.3s;
}
.container.active .navItems li a i {
  transform: scale(1);
  transition: 0.4s ease;
  transition-delay: calc(0.08s * var(--i));
}
.container.active .navItems li:hover a i {
  transition: 0.2s ease;
  color: #11b7b7;
}
li a span {
  position: absolute;
  color: #fff;
  margin: 22px 0;
  font-weight: 500;
  letter-spacing: 2px;
}
.container.active .navItems li a span {
  transform: translateX(15px);
  transition: 0.4s ease;
  transition-delay: calc(0.08s * var(--g));
}
.container.active .navItems li:hover a span {
  transform: translateX(30px);
  color: #11b7b7;
}

/*.stories-container {
  max-width: 600px;
  margin: 24px auto;
  position: relative;
}

.stories-container .previous-btn,
.stories-container .next-btn,
.stories-full-view .previous-btn,
.stories-full-view .next-btn {
  width: 30px;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  background: #444;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  cursor: pointer;
}

.stories-container .previous-btn,
.stories-container .next-btn {
  opacity: 0;
  pointer-events: none;
  transition: all 400ms ease;
}

.stories-container .previous-btn.active,
.stories-container .next-btn.active {
  opacity: 1;
  pointer-events: auto;
}

.stories-container .previous-btn,
.stories-full-view .previous-btn {
  left: 8px;
}

.stories-container .next-btn,
.stories-full-view .next-btn {
  right: 8px;
}

.stories-container .story {
  height: 180px;
  width: 120px;
  flex-shrink: 0;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.stories-container .story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stories-container .stories {
  display: flex;
  gap: 8px;
}

.stories-container .content {
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.stories-container .content::-webkit-scrollbar {
  display: none;
}

.stories-container .author {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 16px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(transparent, #222 130%);
}

.stories-full-view {
  position: fixed;
  inset: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  place-items: center;
}

.stories-full-view.active {
  display: grid;
}

.stories-full-view .close-btn {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 30px;
  background: #444;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  z-index: 20;
  cursor: pointer;
}

.stories-full-view .content {
  height: 90vh;
  width: 100%;
  max-width: 700px;
  position: relative;
}

.stories-full-view .story {
  height: 100%;
  text-align: center;
}

.stories-full-view .story img {
  height: 100%;
  aspect-ratio: 10/16;
  object-fit: cover;
  border-radius: 16px;
}

.stories-full-view .author {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 4px 32px;
  border-radius: 8px;
}
